<md-toolbar class="small">
    <div class="md-toolbar-tools">
        <span>Net model</span>
        <span flex></span>

        <md-menu>
            <md-button aria-label="Project" class="faButton" ng-click="$mdOpenMenu()">
                <md-icon md-font-icon="fa-file" class="fa"></md-icon>
                Project
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="createNewNet()" class="faButton">
                        <md-icon md-font-icon="fa-plus" class="fa"></md-icon>
                        New project
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="loadNet()" class="faButton">
                        <md-icon md-font-icon="fa-folder" class="fa"></md-icon>
                        Open
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="storeNet()" class="faButton">
                        <md-icon md-font-icon="fa-save" class="fa"></md-icon>
                        Save
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="exportNet()" class="faButton">
                        <md-icon md-font-icon="fa-file-code-o" class="fa"></md-icon>
                        Export
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu>
            <md-button aria-label="Mode" class="faButton" ng-click="$mdOpenMenu()">
                <md-icon md-font-icon="fa-map-signs" class="fa"></md-icon>
                Mode
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="mode in gui.modes">
                    <md-button ng-click="updateMode(mode.type)" class="faButton">
                        <md-icon md-font-icon="{{mode.icon}}" class="fa"></md-icon>
                        {{mode.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu>
            <md-button aria-label="Layout" class="faButton" ng-click="$mdOpenMenu()">
                <md-icon md-font-icon="fa-code-fork" class="fa"></md-icon>
                Layout
            </md-button>
            <md-menu-content width="3">
                <md-menu-item ng-repeat="layout in gui.layouts">
                    <md-button ng-click="layoutNet(layout.type)" class="faButton">
                        {{layout.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu>
            <md-button aria-label="Grid" class="faButton" ng-click="$mdOpenMenu()">
                <md-icon md-font-icon="fa-table" class="fa"></md-icon>
                Grid
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-switch ng-model="gui.showGrid" aria-label="Show grid"
                               ng-change="pnManager.setGridVisible(gui.showGrid)">
                        Show grid
                    </md-switch>
                </md-menu-item>
                <md-menu-item>
                    <md-switch ng-model="gui.snapToGrid" aria-label="Snap to grid"
                               ng-change="pnManager.setSnapToGrid(gui.snapToGrid)">
                        Snap to grid
                    </md-switch>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-input-container>
                        <md-select ng-model="gui.activeGrid" aria-label="Grid type"
                                   ng-change="pnManager.setActiveGrid(gui.activeGrid)">
                            <md-option ng-repeat="grid in gui.grids" ng-value="grid.type">{{grid.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu>
            <md-button aria-label="Analysis" class="faButton" ng-click="$mdOpenMenu()">
                <md-icon md-font-icon="fa-calculator" class="fa"></md-icon>
                Analysis
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-hide="editor.settings.analysisEnabled">
                    <md-button ng-click="showAnalysisPanel()" aria-label="Show analysis" class="faButton">
                        <md-icon md-font-icon="fa-eye" class="fa"></md-icon>
                        Show
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-show="editor.settings.analysisEnabled">
                    <md-button ng-click="hideAnalysisPanel()" aria-label="Show analysis" class="faButton">
                        <md-icon md-font-icon="fa-eye-slash" class="fa"></md-icon>
                        Hide
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<div layout="row" flex style="height: 100%; padding: 8px 0">
    <div layout="column" style="width: 175px;">
        <div layout="column" flex dimension-setter="height">
            <tool-panel ng-show="gui.currentMode === 'modelling'"></tool-panel>
            <simulation-panel ng-show="gui.currentMode === 'simulation'"></simulation-panel>

            <md-divider style="margin: 5px 0;"></md-divider>

            <object-property-panel ng-show="gui.currentMode === 'modelling'"></object-property-panel>
            <history-panel ng-show="gui.currentMode === 'simulation'"></history-panel>
        </div>
    </div>
    <md-divider style="margin: 0 10px;"></md-divider>

    <div layout="column" flex style="position: relative;">
        <spinner name="modellingSpinner">
            <div ng-include="'utilsTemplates/spinner.tmpl.html'"></div>
        </spinner>

        <div layout="row" class="additionalMenu">
            <md-button aria-label="Redraw net" class="md-icon-button" ng-click="refreshNet()">
                <md-tooltip md-direction="top">Refresh net</md-tooltip>
                <md-icon md-font-icon="fa-refresh" class="fa menuIcon"></md-icon>
            </md-button>
            <md-button aria-label="Undo" class="md-icon-button" ng-click="undo()" ng-disabled="!canUndo()">
                <md-tooltip md-direction="top">Undo</md-tooltip>
                <md-icon md-font-icon="fa-undo" class="fa menuIcon"></md-icon>
            </md-button>
            <md-button aria-label="Redo" class="md-icon-button" ng-click="redo()" ng-disabled="!canRedo()">
                <md-tooltip md-direction="top">Redo</md-tooltip>
                <md-icon md-font-icon="fa-repeat" class="fa menuIcon"></md-icon>
            </md-button>
            <md-button aria-label="Delete" class="md-icon-button" ng-click="deleteNet()">
                <md-tooltip md-direction="top">Delete net</md-tooltip>
                <md-icon md-font-icon="fa-trash" class="fa menuIcon"></md-icon>
            </md-button>
        </div>

        <canvas id="modelCanvas" class="easel-canvas" flex md-whiteframe="3" resize-detector></canvas>
    </div>
</div>