<md-dialog aria-label="Cycle details" class="cyclesDialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <span>Cycle C{{cycleIndex}}</span>
            </h3>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" layout-padding>
        <div layout="column" class="subHeader">Net components</div>
        <div class="cycleList">
            <div layout="row" ng-repeat="cycleComponent in cycleComponents" class="cycleRow">
                {{cycleComponent}}
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="close()">Close</md-button>
    </md-dialog-actions>
</md-dialog>