<md-dialog aria-label="Net state" class="cycleCoverageDialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <span>Not covered {{dialogTitle}}</span>
            </h3>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" layout-padding>
        <div layout="column" class="searchBar">
            <md-input-container md-no-float class="md-block">
                <md-icon class="fa fa-search"></md-icon>
                <input ng-model="searchStr" placeholder="Search">
            </md-input-container>
        </div>
        <div layout="row" class="header">
            <span>Name</span>
        </div>
        <div class="itemList">
            <div layout="row" ng-repeat="name in objectNames | filter:searchStr" class="listRow">
                {{name}}
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="close()">Close</md-button>
    </md-dialog-actions>
</md-dialog>